@page
@model RahAsod.Pages.Admin.SettingsAndCoefficientsInsurance.SettingsAndCoefficientsThirdPartyModel
@{
    Layout = "_LayoutForAdmin";
}

<div class="card-body">
    <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable table-striped" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 77px;">تعداد سیلند</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 117px;">مالی 11 و حداقل</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 56px;">مالی 22</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">34مالی </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">مالی 44</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">مالی55</th>
                            </tr>
                        </thead>

                        <tbody>


                            <tr role="row" class="odd">
                                <td class="sorting_1">ماشین های 3 سیلندر و پراید </td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008/11/28</td>
                                <td>$162,700</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">ماشین های 4 سیلندر تیبا ،سمند ،پژو</td>
                                <td>Chief Executive Officer (CEO)</td>
                                <td>London</td>
                                <td>47</td>
                                <td>2009/10/09</td>
                                <td>$1,200,000</td>
                            </tr>


                            <tr role="row" class="odd">
                                <td class="sorting_1">ماشین های 6 سیلندر</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008/11/28</td>
                                <td>$162,700</td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1">ماشین های بارکش با وزن 1 کیلو</td>
                                <td>Chief Executive Officer (CEO)</td>
                                <td>London</td>
                                <td>47</td>
                                <td>2009/10/09</td>
                                <td>$1,200,000</td>
                            </tr>


                        </tbody>

                    </table>
                </div>


                <div class="container" style="padding:50px;">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                            <a href="#" class="btn btn-info btn-icon-split">
                                <span class="text">ویرایش</span>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-danger btn-icon-split">
                                <span class="text">حذف</span>
                            </a>
                        </div>
                        <div class="col col-lg-2">
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="text">اضافه کردن</span>
                            </a>
                        </div>

                    </div>
                 
                </div>

            
            </div>
    </div>
</div>
