@page
@model RahAsod.Pages.DescriptionOfInsurancePoliciesPages.BodyPoliciesModel
@{
    Layout = "_Layout";
}


<div class="container form-direction">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h1 text-gray-900 mb-4">بیمه بدنه ماشین</h1>
                        </div>

                        <div class="text-center">
                            <a class="h6 text-gray-900 mb-4">


                                بطور کلی گروه بیمه اتومبیل جبران کننده خسارت‌های ناشی از حوادث رانندگی از جمله تصادف، آتش‌ سوزی و سرقت به اتومبیل مورد بیمه، سرنشینان آن و اشخاص ثالث می‌باشد. علاوه بر موارد فوق شکست شیشه اتومبیل، دفاع از حقوق بیمه‌گزار در مراجع دادگستری و مراجعه به مسئول خسارت، توقف اتومبیل خسارت دیده در مدت تعمیر نیز با دریافت حق‌بیمه اضافی قابل بیمه شدن می‌باشد
                                <hr />
                                خسارت‌هایی که در اثر حوادث اتومبیل متوجه اشخاص ثالث می‌شود به موجب بیمه‌نامه شخص ثالث مورد تامین قرار می‌گیرد. بیمه شخص ثالث جنبه اجباری دارد و تابع قانون و مقررات خاص خود می‌باشد. بنابراین این گروه بیمه را می‌توان به سه گروه زیر تقسیم کرد: پوشش بیمه بدنه اتومبیل نگرانی های بیمه گذاران (دارندگان این وسائل) در مورد حوادثی که منجر به آسیب دیدن اتومبیل آنها و ایجاد هزینه های پرداخت خسارت میگردد را کاهش می دهد یا از میان می برد
                                <hr />
                                در بیمه های بدنه بیمه گذار در مقابل پرداخت مبلغی به عنوان حق بیمه در صورت آسیب دیدن اتومبیل خود بخاطر خطرات تحت پوشش مبلغی را به عنوان خسارت دریافت خواهد کرد به طور کلی اتومبیلهایی که جهت پوشش بیمه بدنه معرفی میگردند در ابتدای امر بایستی قابلیت پوشش بیمه بدنه را دارا باشند و این قابلیت در مرحله اول از دو راه اثبات میگردد:
                                <hr />
                                سال ساخت اتومبیل:
                                <hr />
                                حداکثر بیش از 10 سال از تولید و مونتاژ وسائل نقلیه سواری در زمان معرفی و صدور بیمه نامه نگذشته باشد،البته برای پوشش بیمه بدنه اتومبیلهای سواری با قدمت سال ساخت برای هر سال اضافه بر 10 سال مزبور 5 % اضافه نرخ بعنوان قدمت سال ساخت در نظر گرفته و بر حق بیمه های اصلی اضافه گردیده و صدور بیمه نامه برای اتومبیلهایی که بیش از 20 سال از ساخت آنها گذشته باشد نیاز به مجوز از مدیریت بیمه های اتومبیل دارد.
                                <hr />
                                بازدید اولیه از اتومبیل:
                                <hr />
                                راه دیگر اثبات قابلیت پوشش بیمه بدنه برای اتومبیلهای معرفی شده،کارشناسی بازدید اولیه از وسیله نقلیه معرفی شده توسط کارشناس مورد تأیید شرکت است که کارشناس مزبور باید دارای مجوز کارشناسی بازدید اولیه و کد اختصاصی بوده و گزارش مربوطه را جهت صدور بیمه نامه بدنه تهیه نماید.
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
