@page
@model RahAsod.Pages.DescriptionOfInsurancePoliciesPages.CarThirdPartyPoliciesModel
@{
    Layout = "_Layout";
}


<div class="container form-direction">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model.desText)
            {
                <h1>@Html.Raw(item.InsuranceType)</h1>
                <p>@Html.Raw(item.Text)</p>
            }
        </div>
    </div>
</div>