@page
@model RahAsod.Pages.DescriptionOfInsurancePoliciesPages.FirePoliciesModel
@{
    Layout = "_Layout";
}


<div class="container form-direction">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h1 text-gray-900 mb-4">بیمه حریق </h1>
                        </div>

                        <div class="text-center">
                            <a class="h6 text-gray-900 mb-4">

                                موضوع بیمه آتش سوزی ، تأمین خسارت و جبران زیان‌های مالی و مادی است که بر اثر وقوع خطر آتش‌سوزی به اموال و دارائی‌های منقول و یا غیرمنقول بیمه‌گذار اعم از اشخاص حقیقی یا حقوقی وارد می‌شود. بنابراین در بیمه آتش سوزی، خسارت‌های مالی مورد تأمین قرار می‌گیرند نه خسارت‌های جانی و بدنی. لذا، درصورتیکه صدمه‌ای به افراد برسد، معمولاً این بیمه آنرا پوشش نمی‌دهد. لازم به ذکر است که خسارت وارد به اموال اشخاص ثالث بر اثر وقوع آتش‌سوزی که مطابق قانون، موجب مسئولیت و پاسخ‌گویی بیمه‌گذار شود نیز همراه پوشش خطر آتش‌سوزی یا به‌طور جداگانه از طریق بیمه مسئولیت مدنی مورد تأمین بیمه‌گران قرار می‌گیرند. بیمه آتش سوزی مانند سایر شاخه‌های بیمه اموال، شامل اصل غرامت، قاعده جانشینی، اصل حسن نیت، قاعده نفع بیمه‌ای و قاعده نسبی سرمایه و حق‌بیمه می‌باشد.
                                <hr />
                                زیر شاخه های بیمه آتش سوزی عبارتند از:
                                <br />
                                بیمه آتش سوزی واحدهای مسکونی
                                در رشته آتش‌سوزی واحدهای مسکونی موضوع بیمه عبارتست از ساختمان، تأسیسات و اثاث منزل که در مقابل خطرات آتش سوزی، انفجار، صاعقه به عنوان خطرات اصلی و طوفان، سیل،‌ زلزله و آتشفشان، ترکیدگی لوله آب، ضایعات ناشی از آب باران و ذوب برف،‌ خطر سقوط هواپیما و هلی‌کوپتر و قطعات منفک از آنها، سرقت اثاث و لوازم منزل و بسیاری از خطرهای دیگر تحت پوشش قرار می گیرد. واحدهای مسکونی در سراسر کشور را به دو روش انفرادی و گروهی می‌توان نزد بیمه ایران تحت پوشش بیمه آتش‌سوزی قرار داد. در بیمه‌های گروهی چنانچه تعداد واحدهای مسکونی تحت پوشش بیش از پانزده واحد باشد، ده درصد تخفیف گروهی در نرخ‌های بیمه‌ اعمال می‌شود.
                                رشته بیمه آتش سوزی واحدهای مسکونی مشتمل بر 5 زیررشته می‌باشد که عبارتند از:
                                <br />
                                معمولی منازل مسکونی
                                در این بیمه‌بنا به درخواست بیمه‌گذار واحد مسکونی، علاوه بر خطرهای حریق، انفجار و صاعقه، در برابر کلیه خطرهای اضافی که به آن اشاره شد با سرمایه دلخواه و به قیمت روز تحت پوشش قرار می‌گیرد و حق سالانه آن با توجه به ارزش ساختمان و اثاث منزل و خطرهای بیمه شده محاسبه خواهد شد.
                                <br />
                                طرح جامع خانه و خانواده
                                طرح جامع خانه و خانواده از طرح‌های همگانی بیمه ایران است که به بعنوان یک پوشش جامع، کلیه مخاطرات ممکن در فضای مسکونی را تحت پوشش قرار می گیرد.
                                <br />
                                مسکونی طرح همگانی
                                در این زیررشته، خطرهای ناشی از آتش‌سوزی، انفجار، صاعقه و سیل تحت پوشش قرار گرفته و حق‌بیمه سالانه آن با توجه به ارزش واحد مسکونی بدست می‌آید.
                                <br />
                                مسکونی با طرح زلزله
                                زیررشته مسکونی با طرح زلزله از جمله طرح‌های ابتکاری و فراگیر بیمه ایران می‌باشد که با توجه به زلزله‌خیز بودن مناطق مختلف کشور، با استقبال خوبی مواجه شده است. در این طرح، مشتری با پرداخت حق‌بیمه از پیش تعریف شده‌ای، منزل و اثاث خود را در مقابل خطرات آتش‌سوزی، انفجار، صاعقه، سیل و زلزله بیمه می‌نماید.
                                <br />
                                طرح مهر
                                طرح مهر که بیمه‌های متنوع آتش‌سوزی، مسئولیت و حوادث خانه و خانواده را تحت پوشش قرار می‌دهد، برای اولین بار از 20 مهرماه سال 82 در بیمه ایران طراحی گردید. در این طرح، بیمه‌گر بیمه‌گذار را در مقابل خطراتی چون آصا (آتش‌سوزی، صاعقه و انفجار)، شخص ثالث و همسایگان، غرامت فوت و هزینه‌های پزشکی بیمه می‌نماید.
                                <hr />
                                بیمه آتش سوزی مراکز غیرصنعتی
                                مراکز غیرصنعتی مشتمل بر کلیه فروشگاه‌های تجاری، تعمیرگاه‌ها، بیمارستان‌ها، اماکن عمومی، ساختمان‌های اداری، بنگاه‌های معاملاتی، مراکز پخش دارو، فروشگاه‌های مواد غذایی و پروتئینی، آموزشگاه‌ها، مراکز خدماتی و سایر موارد مشابه می‌باشند. ساختمان، تأسیسات، موجودی اثاث ثابت و دکوراسیون هر یک از مراکز یاد شده را می‌توان در مقابل خطرهای آتش‌سوزی، انفجار، صاعقه و نیز کلیه خطرهای اضافی ذکر شده نزد شرکت به قیمت روز بیمه نمود.
                                <br />
                                رشته بیمه آتش سوزی مراکز غیر صنعتی مشتمل بر 2 زیررشته می‌باشد که عبارتند از:
                                <br />
                                معمولی مراکز غیرصنعتی
                                در این بیمه بنا به درخواست بیمه‌گذار مرکز غیرصنعتی، علاوه بر خطرهای حریق، انفجار و صاعقه، در برابر کلیه خطرهای اضافی که به آن اشاره شد با سرمایه دلخواه و به قیمت روز تحت پوشش قرار می‌گیرد و حق سالانه آن با توجه به ارزش ساختمان و تجهیزات آن و خطرهای بیمه شده محاسبه خواهد شد.
                                <br />
                                طرح جامع اصناف
                                براساس توافقات فیمابین بیمه ایران و شورای اصناف کشور، از سال 86 طرح بیمه اصناف کشور به اجرا درآمد. بر اساس این توافق، تمامی افراد عضو اتحادیه‌ها و انجمن‌های صنفی و خانواده‌های آنان می‌توانند از بیمه تکمیلی درمان بیمه ایران استفاده کنند. براساس این طرح، خدمات درمانی اصناف و خانواده‌های آنان که از سوی بیمه تأمین اجتماعی بصورت کامل پرداخت نمی‌شود، تا سقف 30 میلیون ریال در جراحی‌های پزشکی پرداخت می‌گردد. در این طرح واحدهای صنفی دارای پروانه کسب می‌توانند پس از عقد قرارداد اتحادیه و انجمن صنفی خودشان با مراکز بیمه ایران در هر نقطه از کشور با ارائه معرفی نامه از اتحادیه‌ها و انجمن‌های صنفی، خود و و خانواده‌شان را تحت پوشش قرار دهند.
                                <br />
                                بیمه آتش سوزی مراکز صنعتی
                                مراکز صنعتی شامل کلیه کارخانجات صنایع غذایی، آشامیدنی، دخانیات، نساجی، پوشاک، چرم، چوب، کاغذ، مقوا، چاپ و صحافی، شیمیایی، محصولات کانی غیرفلزی، فلزات اساسی و صنایع متفرقه، ساختمان، تاسیسات، ماشین‌آلات، مواد اولیه، موجودی و محتویات هریک از مراکز یاد شده را می‌توان در مقابل خطرهای آتش‌سوزی، انفجار، صاعقه و همچنین کلیه خطرهای اضافی به قیمت روز بیمه نمود.
                                <br />
                                رشته بیمه آتش سوزی مراکز صنعتی مشتمل بر 1 زیررشته می‌باشد که عبارتند از:
                                <br />
                                معمولی مراکز صنعتی
                                در این بیمه بنا به درخواست بیمه‌گذار مرکز صنعتی، علاوه بر خطرهای حریق، انفجار و صاعقه، در برابر کلیه خطرهای اضافی که به آن اشاره شد با سرمایه دلخواه و به قیمت روز تحت پوشش قرار می‌گیرد و حق سالانه آن با توجه به ارزش ساختمان و تجهیزات آن و خطرهای بیمه شده محاسبه خواهد شد.
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
