@page
@model RahAsod.Pages.DescriptionOfInsurancePoliciesPages.LifePoliciesModel
@{
    Layout = "_Layout";
}

<div class="container form-direction">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h1 text-gray-900 mb-4">بیمه عمر و پس انداز</h1>
                        </div>

                        <div class="text-center">
                            <a class="h6 text-gray-900 mb-4">

                                انسان‌ از آغاز پیدایش‌ جوامع‌ انسانی‌، در جستجوی‌ غریزی‌ به‌ دنبال‌ تأمینهای‌ جسمی‌، اقتصادی‌، اجتماعی‌ وسیاسی‌ بوده‌ است‌.
                                باتوجه‌ به‌ همین‌ نیاز بوده‌ که‌ شرکتهای‌ بیمه‌ با ارائه‌ طرحهای‌ متفاوت‌ و ابتکاری‌ متناسب‌ با نیازهای ‌جوامع‌ انسانی‌ درپی‌ تأمین‌ و تسهیل‌ این‌ غریزه‌ ثبات‌ مالی‌ و اقتصادی‌ برآمدند تا در زمان‌ بروز حادثه‌ ناگوار، شیرازه ‌اقتصاد خانواده‌ ها از هم‌ نپاشد و افراد وابسته‌ به‌ شخص‌ متوفی‌ و یا حادثه‌ دیده‌ بتوانند از مزایای‌ این‌ تأمین‌ اقتصادی‌ بهره‌مند شوند .
                                <hr />
                                <br />
                                بیمه های اشخاص به سه گروه کلی تقسیم می شوند:
                                <br />
                                <hr />
                                بیمه اشخاص (درمان)
                                <br />

                                در این گروه بیمه، بیمه‌گر متعهد می‌شود که کلیه‌ هزینه‌های‌ درمانی‌ و بیمارستانی‌ هریک‌ از بیمه‌شدگان‌ که ‌براساس‌ شرایط قرارداد و با رعایت‌ فرانشیز توافق‌ شده‌ قابل‌ پرداخت‌ می‌باشد را جبران نماید. به‌ طورکلی‌ تعهدات‌ بیمه‌گر شامل‌ هزینه‌های‌ ویزیت‌ پزشک‌، جراحی‌، پانسمان‌، انواع‌ آزمایش‌های‌ پزشکی‌، مخارج ‌بیهوشی‌، هزینه‌های‌ اتاق‌ عمل‌ و جابجایی‌ به‌ بیمارستان‌، هزینه‌های‌ دارو، دندانپزشکی‌، دندان‌ مصنوعی‌، زایمان‌ و هرچیز دیگری‌ است‌ که‌ بیمه‌گر براساس‌ شرایط قرارداد خود را ملزم‌ به‌ پرداخت‌ آن‌ کرده‌است‌.
                                <br />
                                رشته بیمه اشخاص(درمان) مشتمل بر 3 زیررشته می‌باشد که عبارتند از:
                                <br />
                                بیمه درمان گروهی تمام درمان
                                <br />
                                در این زیر رشته بیمه‌ای، بیمه ایران بیمه‌گر اول بیمه‌شدگان بوده و هزینه درمان ایشان را جبران می‌نماید. بر اساس این قراردادها هزینه‌های درمان با توجه به مندرجات قرارداد توسط بیمه‌گر جبران می‌شود.
                                <br />
                                بیمه درمان مسافرت به خارج از کشور
                                <br />
                                این بیمه‌نامه اشخاصی که قصد مسافرت به خارج از کشور را دارند تحت پوشش بیمه قرار می‌دهد و اعتبار آن در خارج از کشور می‌باشد. کلیه خدمات موضوع این بیمه‌نامه با توجه به قرارداد فی مابین، مطابق با شرایط عمومی توسط شبکه بین‌المللی شرکت کمک رسانی آکسا و یا مفری تضمین و ارائه می‌گردد. همچنین خسارت‌های وارده در محل و به ارز قابل پرداخت می‌باشد .
                                <br />
                                بیمه درمان مسافران خارجی به داخل کشور(irha)
                                <br />
                                بر اساس این بیمه تمامی اتباع خارجی و ساکنین خارج ازکشور که قصد مسافرت به ایران را دارند با ابتیاع این بیمه، تحت پوشش قرار گرفته ، از مزایای آن استفاده خواهند نمود.

                                <hr />


                                بیمه اشخاص (عمر)
                                <br />
                                بیمه عمر از دیدگاه حقوقی، قراردادی است که به موجب آن بیمه‌گر در مقابل دریافت حق‌بیمه از بیمه‌گذار متعهد می‌شود که در صورت فوت و یا حیات بیمه‌شده در زمان معینی مبلغی به عنوان سرمایه و یا مستمری به استفاده‌کننده (بیمه‌گذار یا شخص ثالث) تعیین شده از طرف او و یا وراث قانونی بپردازد.
                                خطر فوت در بیمه‌های عمر، به هر علت و شامل انواع بیماری‌ها و حوادث می‌باشد و فقط هزینه‌های جنگ و خودکشی از آن مستثنی شده، تنها تحت ضوابط خاصی تحت پوشش قرار می‌گیرند.
                                هدف اساسی بیمه‌های عمر ایجاد، جمع آوری ذخایر مالی، سرمایه‌گذاری، کسب سود حاصله از سرمایه‌گذاری و نهایتاً ایفای تعهدات شرکت بیمه‌گر در قبال استفاده‌کنندگان می‌باشد.
                                در بیمه‌های عمر، بیمه‌گذار با پرداخت حق بیمه معینی -به صورت ماهیانه، سالیانه یا یکجا-، مبلغ معینی را پس از پایان مدت بیمه‌نامه دریافت خواهد کرد و در صورت فوت بیمه شده در طول مدت قرارداد، مبلغ مقرر به استفاده کنندگان تعلق می‌گیرد.
                                <br />
                                رشته بیمه اشخاص(عمر) مشتمل بر 13 زیررشته می‌باشد که عبارتند از:
                                <br />
                                بیمه عمر انفرادی
                                <br />
                                بیمه عمر انفرادی بیمه‌نامه‌ای است که به موجب آن بیمه‌گر متعهد می‌شود در صورت فوت یا حیات بیمه‌شده‌، سرمایه‌ای را بصورت یکجا به ذینفع یا استفاده‌کننده که در بیمه‌نامه قید گردیده است پرداخت نماید. در این نوع بیمه‌نامه بیمه‌گذار برای بیمه‌نمودن خود اقدام می‌نماید.
                                <br />
                                بیمه عمر مانده بدهکار انفرادی
                                <br />
                                افرادی که از موسسات اعتباری یا بانک‌ها وام دریافت می‌دارند، چنانچه درطول مدت وام فوت کنند، پرداخت اقساط وام از سوی بازماندگان آنها مشکل و یا غیرممکن خواهد بود. وام‌گیرنده می‌تواند با خرید بیمه عمر مانده‌بدهکار برای خود، این مشکل را برطرف سازد. دراین نوع بیمه، هرگاه وام‌گیرنده (بیمه‌گذار) درطول مدت وام فوت کند، بیمه‌گر بقیه بدهی او را، ازتاریخ فوت تا پایان مدت وام، یکجا در وجه وام‌دهنده و یا استفاده‌کنندگانی که در بیمه‌نامه ذکر شده‌اند پرداخت می‌کند؛ درنتیجه بازماندگان او دینی درقبال موسسه وام‌دهنده نداشته و وثیقه مورد رهن بعد از فوت بیمه شده آزاد خواهد شد.
                                <br />
                                بیمه تامین آتیه فرزندان
                                <br />
                                والدین می توانند به منظور تامین هزینه تحصیلات فرزندان ، هزینه جهیزیه و همچنین هزینه ازدواج فرزندانشان از بیمه نامه آتیه فرزندان استفاده کنند.که فرزندان از بدو تولد می توانند تحت پوشش این بیمه نامه قرار گیرند .
                                <br />
                                بیمه عمر زمانی انفرادی
                                <br />
                                در این نوع بیمه چنانچه بیمه‌شده در خلال مدت بیمه فوت کند و حق‌بیمه‌ها تا تاریح فوت پرداخت شده باشد، سرمایه مندرج در بیمه‌نامه به استفاده‌کننده پرداخت خواهد شد. ولی اگر بیمه‌شده در پایان مدت در قید حیات باشد، بیمه‌گر تعهدی نخواهد داشت و حق بیمه ها قابل برگشت نیست . امتیاز این بیمه ناچیز بودن حق بیمه آن می‌باشد . در بیمه‌های عمر زمانی انفرادی سن شخص بیمه‌شده به‌اضافه مدت بیمه نباید از 70 سال تجاوز نماید.
                                <br />
                                بیمه تمام عمر انفرادی
                                <br />
                                هدف در بیمه عمر اطمینان یافتن از آینده از طریق تأمین سرمایه یا مستمری برای فرد بیمه شده و یا افراد ذینفع مورد نظر او در موعد مقرر در زمان حیات و یا پس از فوت وی می‌باشد. تعهد شرکت بیمه در این زمینه در مقابل دریافت حق بیمه می‌باشد. بیمه گر در ازای دریافت حق بیمه ، بطور مادام العمر متعهد می شود که اگر هر زمان و به هر علت ، بیمه شده فوت کند سرمایه مندرج در بیمه نامه را با اضافه سرمایه ای که از محل مشارکت در منافع تامین شده به استفاده کننده بپردازد.
                                <br />
                                بیمه عمر و پس‌انداز انفرادی
                                <br />
                                در این بیمه، چنانچه بیمه‌شده در خلال مدت بیمه فوت نماید، در صورتیکه حق بیمه‌ها تا تاریخ فوت پرداخت شده باشد، سرمایه مندرج در بیمه‌نامه به‌اضافه سرمایه‌ای که ممکن است تا تاریخ فوت از محل مشارکت در منافع تامین شده باشد، به ذینفع پرداخت شده و چنانچه این بیمه‌نامه تا پایان مدت ادامه یابد، سرمایه مندرج در بیمه‌نامه به‌اضافه سرمایه اضافی که ممکن است از محل مشارکت در منافع تامین شده باشد به ذینفع پرداخت می‌شود.
                                <br />
                                بیمه تامین هزینه جهیزیه
                                <br />
                                در این نوع بیمه نامه بیمه گذار و بیمه شده پدر یا مادر دختر و یا در صورت عدم وجود آنان هر شخص دیگری است که علاقمند به تامین آینده دختر بوده و استفاده کننده در صورت فوت و یا حیات بیمه شده دختری است که بیمه نامه به نفع او صادر شده است.
                                <br />
                                بیمه جامع زندگی
                                <br />
                                این بیمه نامه علاوه بر تأمین منابع لازم برای آینده بیمه شدگان از قبیل دریافت سرمایه بیمه در زمان بازنشستگی، برخورداری از پوشش بیمه عمر در مقابل خطر فوت و امکان دریافت مستمری، در رابطه با نحوه و مبلغ حق بیمه های پرداختی و ارائه خدمات به بیمه شدگان نیز دارای انعطاف پذیری زیادی بوده و با دارا بودن ضریب افزایش سالانه جهت حق بیمه و سرمایه فوت ، بیمه شده را در مقابل تورم فرضی آینده تجهیز می نماید.
                                <br />
                                بیمه عمر گروهی
                                <br />
                                بیمه عمر گروهی بیمه‌نامه‌ای است که به موجب آن بیمه‌گر متعهد می شود در صورت فوت یا حیات بیمه‌شده‌، سرمایه‌ای را بصورت یکجا به ذینفع یا استفاده‌کننده که در بیمه‌نامه قید گردیده است پرداخت نماید. در این نوع بیمه‌نامه بیمه‌گذار برای بیمه‌نمودن کارکنان خود اقدام می‌نماید.
                                <br />
                                بیمه تمام عمر گروهی
                                <br />
                                هدف در بیمه عمر اطمینان یافتن از آینده از طریق تأمین سرمایه یا مستمری برای فرد بیمه شده و یا افراد ذینفع مورد نظر او در موعد مقرر در زمان حیات و یا پس از فوت وی می‌باشد. تعهد شرکت بیمه در این زمینه در مقابل دریافت حق بیمه می‌باشد. بیمه گر در ازای دریافت حق بیمه ، بطور مادام العمر متعهد می شود که اگر هر زمان و به هر علت ، بیمه شده فوت کند سرمایه مندرج در بیمه نامه را با اضافه سرمایه ای که از محل مشارکت در منافع تامین شده به استفاده کننده بپردازد.
                                <br />
                                بیمه عمر مانده بدهکار
                                <br />
                                موسسات اعتباری یا بانک‌ها می‌توانند افرادی را که از آنها وام دریافت می‌دارند را بیمه نمایند تا چنانچه درطول مدت وام، وام‌گیرنده فوت کند، پرداخت اقساط وام از سوی بیمه‌گر انجام می‌شود، درنتیجه بازماندگان وام‌گیرنده دینی درقبال موسسه وام‌دهنده نداشته و وثیقه مورد رهن بعد از فوت بیمه‌شده آزاد خواهد شد .
                                <br />
                                بیمه عمر زمانی
                                <br />
                                در این نوع بیمه چنانچه بیمه‌شده در خلال مدت بیمه فوت کند و حق بیمه‌ها تا تاریح فوت پرداخت شده باشد، سرمایه مندرج در بیمه‌نامه به استفاده‌کننده پرداخت خواهد شد. ولی اگر بیمه‌شده در پایان مدت در قید حیات باشد، بیمه‌گر تعهدی نخواهد داشت و حق‌بیمه‌ها قابل برگشت نیست. امتیاز این بیمه ناچیز بودن حق‌بیمه آن می‌باشد .
                                <br />
                                بیمه عمر و پس‌انداز
                                <br />
                                افراد دوراندیش وآینده نگر با هرتوان مالی ازطریق پس اندازهای خود می توانند یک بیمه نامه عمروپس انداز داشته باشند . این بیمه نامه ازطریق جمع آوری پس اندازهای کوچک مردم سرمایه های بزرگ برای آنها تشکیل می دهد . به این بیمه عنوان بازنشستگی هم اطلاق می شود .
                                <hr />
                                بیمه کارکنان دولت(عمر گروهی)
                                <br />
                                در این نوع بیمه، کارکنان دولت در مقابل فوت به هر علت به مدت یک سال بیمه می‌شوند. حق بیمه این بیمه بر اساس بخشنامه‌های صادره از طرف دولت تعیین می‌شود.
                                <hr />
                                بیمه اشخاص (حوادث)
                                <br />
                                موضوع این بیمه سانحه وحادثه‌ای است که می‌تواند منجر به فوت، نقص عضو و از کار افتادگی دائم کلی و یا جزئی، از کارافتادگی موقت، جراحت و صدمات بدنی و هزینه های پزشکی گردد.
                                موضوع بیمه حوادث پرداخت غرامت معین در صورت فوت موردبیمه یا نقص عضو و از کار افتادگی و جبران هزینه‌های درمانی ناشی از وقوع حوادث مشمول بیمه است. خطر فوت و نقص عضو به عنوان پوشش‌های اصلی در بیمه‌های حوادث می‌باشد و خطرات از کارافتادگی موقت و بستری در بیمارستان و هزینه‌های پزشکی ناشی از صدمات و جراحات به عنوان خطرات تبعی قرار دارند.
                                بیمه‌های حوادث اکثراً به صورت پوشش خطرات ناشی از حوادث در تمام اوقات (24 ساعت شبانه روز) و در هر مکان و یا زمان در طول مدت بیمه‌نامه بوده و شامل خطرات شغلی، حرفه‌ای، ورزشی، ماموریت، مسافرت و ... می‌گردد.
                                <br />
                                رشته بیمه اشخاص(حوادث) مشتمل بر 9 زیررشته می‌باشد که عبارتند از:
                                <br />
                                انفرادی
                                <br />
                                بیمه اشخاص حوادث انفرادی
                                <br />
                                در این بیمه شخص می‌تواند خود و یا فرد دیگری را در قبال حوادث 24 ساعته شغلی و غیر شغلی و یا خطرات شخصی برای مدت یک سال بیمه نماید. در این بیمه‌نامه تعهدات اصلی و تبعی عبارتند از فوت، نقص عضو جزئی و کلی دائم، از کارافتادگی، هزینه پزشکی، غرامت روزانه از کارافتادگی در اثر حادثه می‌باشد.حق‌بیمه در این بیمه‌نامه بر اساس شغل افراد تعیین می‌گردد.
                                <br />
                                گروهی
                                <br />
                                بیمه حوادث گروهی برای تعداد بیش از ده نفر صادر می‌شود و شرایط آن با توجه به نیاز بیمه گذار تنظیم می‌گردد. در این بیمه، بیمه‌گذار می‌تواند افرادی را در قبال حوادث 24 ساعته شغلی و غیر شغلی برای مدت یک سال بیمه نماید. حق بیمه در این قرارداد بر اساس شغل افراد و طبقه شغلی که 75% افراد را شامل می‌شود تعیین می‌گردد .
                                <br />
                                بیمه کارکنان دولت
                                <br />
                                در این نوع بیمه کارکنان دولت در مقابل حوادث 24 ساعته شغلی و غیر شغلی برای مدت یک سال بیمه می‌شوند. حق‌بیمه این بیمه بر اساس بخشنامه‌های صادره از طرف دولت تعیین می‌شود.
                                <br />
                                بیمه دانش آموزی
                                <br />
                                در این نوع قرارداد دانش‌آموزان بر اساس توافق‌نامه منعقد شده بین شرکت بیمه ایران و سازمان آموزش و پرورش تحت پوشش بیمه حوادث قرار می‌گیرند. شرایط ذکر شده در این توافق‌نامه تعیین‌کننده شرایط و حق‌بیمه می‌باشد.
                                <br />
                                بیمه دانشجویان
                                <br />
                                در این نوع قرارداد دانشجویان بر اساس توافق‌نامه منعقد شده بین شرکت بیمه ایران و وزارت علوم، تحقیقات و فناوری یا وزارت بهداشت، درمان و آموزش پزشکی تحت پوشش بیمه حوادث قرار می‌گیرند. شرایط ذکر شده در این توافق‌نامه تعیین‌کننده شرایط و حق بیمه می‌باشد.
                                <br />
                                بیمه مهدکودک‌ها
                                <br />
                                در این نوع قرارداد کودکان مهدکودک‌ها بر اساس توافق‌نامه منعقد شده بین شرکت بیمه ایران و سازمان آموزش و پرورش و یا سازمان بهزیستی تحت پوشش بیمه حوادث قرار می‌گیرند. شرایط ذکر شده در این توافق‌نامه تعیین‌کننده شرایط و حق‌بیمه می‌باشد.
                                <br />
                                بیمه سازمان‌ها
                                <br />
                                در این بیمه هر سازمان می‌تواند کارکنان خود را در قبال حوادث 24 ساعته شغلی و غیر شغلی و یا خطرات شخصی برای مدت یک سال بیمه نماید. در این قرارداد تعهدات اصلی و تبعی عبارتند از فوت، نقص عضو جزئی و کلی دائم، از کارافتادگی، هزینه پزشکی، غرامت روزانه از کارافتادگی در اثر حادثه می‌باشد.حق‌بیمه در این بیمه‌نامه بر اساس طبقه شغلی اکثریت افراد (75% افراد) تعیین می‌گردد .
                                <br />
                                بیمه گروهی کوتاه‌مدت
                                <br />
                                در این بیمه هر گروهی می‌تواند اعضای خود را در قبال حوادث 24 ساعته شغلی و غیر شغلی و یا خطرات شخصی برای بازه‌های کوتاه‌مدت بیمه نماید. در این قرارداد تعهدات اصلی و تبعی عبارتند از فوت، نقص عضو جزئی و کلی دائم، از کارافتادگی، هزینه پزشکی، غرامت روزانه از کارافتادگی در اثر حادثه می‌باشد.حق‌بیمه در این بیمه‌نامه بر اساس طبقه شغلی اکثریت افراد (75% افراد) و با درنظر گرفتن تعرفه‌های کوتاه‌مدت تعیین می‌گردد .
                                <br />
                                بیمه حوادث خانواده
                                <br />
                                در این بیمه‌نامه سرپرست خانواده با پرداخت حق‌بیمه، کلیه افراد خانواده را در مقابل حوادث در تمام ساعات شبانه‌روز در داخل و خارج از کشور بیمه می‌نماید.در این نوع بیمه‌نامه تعهدات بیمه‌گر شامل فوت، نقص عضو و از کارافتادگی دائم (کلی و جزیی) ناشی از حوادث مشمول بیمه همسر و فرزندان بیمه‌گذار می‌باشد.
                                <br />
                                بیمه حوادث نوروزی
                                <br />
                                در این بیمه‌نامه سرپرست خانواده با پرداخت حق‌بیمه، کلیه افراد خانواده را در مقابل حوادث در تمام ساعات شبانه‌روز در مدت تعطیلات نوروزی در داخل و خارج از کشور بیمه می‌نماید.در این نوع بیمه‌نامه تعهدات بیمه‌گر شامل فوت، نقص عضو و از کارافتادگی دائم (کلی و جزیی) ناشی از حوادث مشمول بیمه همسر و فرزندان بیمه‌گذار می‌باشد.


                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
