@page
@model RahAsod.Pages.TypesOfInsurancePages.GetInformationForRating.CarThirdPartyRatingModel
@{
    ViewData["Title"] = "CarThirdPartyInsurance";
    Layout = "_Layout";
}
<style>

    #main {
        padding: 2% 5%;
        background-color: white;
        direction: rtl;
        text-align: right
    }

    body {
        background-color: #67B0D1CC;
    }

    #formheader {
        background-color: #0c2d48;
        color: #fff;
        margin-top: 5%;
    }
</style>
<script>
    function showCar() {
        var x = document.getElementById("car");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


<div id="main" class="container">
    <div id="formheader" class="card-header text-center">
        <h2>بيمه شخص ثالث</h2>
    </div>

    <div id="car" class="form-group" style="padding-top:3%">
        <div class="col-md-12">

            <br />
            <br />
            <form method="post">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @* <label asp-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" class="control-label"></label>*@
                                    <input asp-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" placeholder="تاریخ شروع بیمه نامه سال قبل" class="form-control" />
                                    <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @* <label asp-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" class="control-label"></label>*@
                                    <input asp-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" placeholder="تاریخ پایان بیمه نامه سال قبل" class="form-control" />
                                    <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <hr />


                <div class="row">
                    <div class="col-md-4">

                        <select asp-for="DescriptionOfThirdPartyInsurance.CarThirdPartyInsuranceFinancialCoverageID" class="form-control">
                            <option disabled selected>پوشش مالی را انتخاب کنید</option>
                            <option>1 پوشش مالی</option>
                            <option>2 پوشش مالی</option>
                            <option>3 پوشش مالی</option>
                            <option>4 پوشش مالی</option>
                        </select>
                        <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarThirdPartyInsuranceFinancialCoverageID" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @* <label asp-for="DescriptionOfThirdPartyInsurance.TypeOfCar" class="control-label"></label>*@
                            <select asp-for="DescriptionOfThirdPartyInsurance.CarType" class="form-control">
                                <option disabled selected hidden>نوع وسیله نقلیه</option>
                                <option>1 ماشین</option>
                                <option>2 ماشین</option>
                                <option>3 ماشین</option>
                                <option>4 ماشین</option>
                            </select>
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarType" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @*  <label asp-for="DescriptionOfThirdPartyInsurance.CarModel" class="control-label"></label>*@
                            <select asp-for="DescriptionOfThirdPartyInsurance.CarModel" class="form-control">
                                <option disabled selected hidden>مدل</option>
                                <option>1399</option>
                                <option>1398</option>
                                <option>1397</option>
                                <option>1396</option>
                                <option>1395</option>
                                <option>1394</option>
                                <option>1393</option>
                                <option>1392</option>
                                <option>1391</option>
                                <option>1390</option>
                            </select>
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarModel" class="text-danger"></span>
                        </div>
                    </div>


                </div>
                <hr />



                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @*  <label asp-for="DescriptionOfThirdPartyInsurance.DriverDiscountPercentage" class="control-label"></label>*@
                            <select asp-for="DescriptionOfThirdPartyInsurance.DriverDiscountPercentage" class="form-control">
                                <option disabled selected hidden>درصد تخفیف راننده</option>
                                <option>صفر درصد</option>
                                <option>پنج درصد</option>
                                <option>ده درصد</option>
                                <option>پانزده درصد</option>
                                <option>بیست درصد</option>
                                <option>بیست و پنج درصد</option>
                                <option>سی  درصد</option>
                                <option>سی و پنج درصد</option>
                                <option>چهل درصد</option>
                                <option>چهل و پنج درصد</option>
                                <option>پنجاه درصد</option>
                                <option>پنجاه و پنج درصد</option>
                                <option>شصت درصد</option>
                                <option>شصت و پنج درصد</option>
                                <option>هفتاد درصد</option>
                            </select>
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.DriverDiscountPercentage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @*     <label asp-for="DescriptionOfThirdPartyInsurance.PercentageOfInsuranceDiscount" class="control-label"></label>*@
                            <select asp-for="DescriptionOfThirdPartyInsurance.PolicyDicountPercantage" class="form-control">
                                <option disabled selected hidden> درصد تخفیف بیمه نامه</option>
                                <option>صفر درصد</option>
                                <option>پنج درصد</option>
                                <option>ده درصد</option>
                                <option>پانزده درصد</option>
                                <option>بیست درصد</option>
                                <option>بیست و پنج درصد</option>
                                <option>سی  درصد</option>
                                <option>سی و پنج درصد</option>
                                <option>چهل درصد</option>
                                <option>چهل و پنج درصد</option>
                                <option>پنجاه درصد</option>
                                <option>پنجاه و پنج درصد</option>
                                <option>شصت درصد</option>
                                <option>شصت و پنج درصد</option>
                                <option>هفتاد درصد</option>
                            </select>
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.PolicyDicountPercantage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @*    <label asp-for="DescriptionOfThirdPartyInsurance.CarCapacity" class="control-label"></label>*@
                            <select asp-for="DescriptionOfThirdPartyInsurance.CarCapacity" class="form-control">
                                <option disabled selected hidden> ظرفيت</option>
                                <option>يک</option>
                                <option>دو</option>
                                <option>چهار</option>
                                <option>پنج</option>
                                <option>يازده</option>
                                <option>بيست و دو</option>
                                <option>بيست و شش</option>
                                <option>سي و دو</option>
                                <option>سي و چهار</option>
                            </select>
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarCapacity" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-2">
                        @*   <label asp-for="DescriptionOfThirdPartyInsurance.UsedCar" class="control-label"></label>*@
                        <select asp-for="DescriptionOfThirdPartyInsurance.CarUsage" class="form-control">
                            <option disabled selected hidden> مورد استفاده</option>
                            <option>شخصي</option>
                            <option>تاکسي</option>
                            <option>درون شهري</option>
                            <option>برون شهري</option>
                        </select>
                        <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarUsage" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check col-md-3">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.DescriptionOfThirdPartyInsurance.TowTruckCar)   <input class="form-check-input" asp-for="DescriptionOfThirdPartyInsurance.TowTruckCar" />
                        </label>
                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-4">
                        <input type="submit" value="محاسبه حق بیمه" class="btn btn-block btn-success" href="#" data-toggle="modal" data-target="#logoutModal" />
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>




@*modal*@
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">حق بیمه وسیله نقلیه شما</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">حق بیمه وسیله نقلیه شما :...... می باشد</div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <a asp-page="/TypesOfInsurancePages/GetInformationForRating2/CarThirdPartyRating2" asp-area="">
                        <input type="submit" value="ادامه" class="btn btn-block btn-success" />
                    </a>
                </div>
               

            </div>
        </div>
    </div>
</div>
@*modal*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




