@using Microsoft.AspNetCore.Identity
@inject SignInManager<DataLayer.Models.RegisterCustomer> _signInManager

<style>
    .modal-header .close {
        margin: 1rem 1rem 1rem 1rem;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />


    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Squadfree Bootstrap Template - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@v[X.Y.Z]/dist/font-face.css" rel="stylesheet" type="text/css" />



</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent ">

        <div class="row">
            <div class="container-fluid d-flex align-items-center">
                <div class="logo mr-auto">
                    <a href="/MainPage/HomePage"><img src="/img/bg-masthead3.png" alt="" class="img-fluid"></a>
                    <h1 class="text-light d-inline-block"><a asp-area="" asp-page="/MainPage/HomePage"><span>نمایندگی ره آسود</span></a></h1>
                    @*Uncomment below if you prefer to use an image logo*@
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="drop-down">
                            <a href="">بیمه نامه ها</a>
                            <ul>
                                <li class="drop-down">
                                    <a href="#">نرخ دهی و صدور</a>
                                    <ul>
                                        <li> <a asp-area="" asp-page="/TypesOfInsurancePages/CarThirdPartyInsurance">بیمه شخص ثالث</a></li>
                                        <li><a href="#">بیمه عمر</a></li>
                                        <li><a href="#">بیمه مسئولیت</a></li>
                                        <li><a href="#">بیمه حریق</a></li>
                                        <li><a href="#">بیمه بدنه</a></li>
                                    </ul>
                                </li>
                                <li class="drop-down">
                                    <a href="#">شرح بیمه نامه ها </a>
                                    <ul>
                                        <li> <a asp-area="" asp-page="/DescriptionOfInsurancePoliciesPages/CarThirdPartyPolicies">بیمه شخص ثالث</a></li>
                                        <li><a asp-area="" asp-page="/DescriptionOfInsurancePoliciesPages/LifePolicies">بیمه عمر</a></li>
                                        <li><a asp-area="" asp-page="/DescriptionOfInsurancePoliciesPages/LiabilityPolicies">بیمه مسئولیت</a></li>
                                        <li><a asp-area="" asp-page="/DescriptionOfInsurancePoliciesPages/FirePolicies">بیمه حریق</a></li>
                                        <li><a asp-area="" asp-page="/DescriptionOfInsurancePoliciesPages/BodyPolicies">بیمه بدنه</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                                <li><a href="#">Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#about">درباره ما</a></li>
                        <li><a href="#services">خدمات</a></li>
                        <li><a href="#portfolio">نمونه کارها</a></li>
                        <li><a href="#team">تیم صدور بیمه نامه</a></li>
                        <li><a href="#contact">ارتباط با ما</a></li>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="drop-down">
                                <a href="#">@User.Identity.Name</a>
                                <ul>
                                    <li>
                                        <a href="#ExitModal" data-toggle="modal" data-target="#ExitModal">خروج</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="/CustomerRegistrationPages/LoginCustomerPage">ورود</a></li>
                            <li><a href="/CustomerRegistrationPages/Register">ثبت نام</a></li>

                        }

                    </ul>

                </nav><!-- .nav-menu -->

            </div>
        </div>


    </header><!-- End Header -->
    <div>
        <main role="main">
            @RenderBody()
            <!--modal-->
            <div class="modal fade" id="ExitModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title">خروج</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span>آیا برای خروج اطمینان دارید ؟</span>
                        </div>
                        <div class="modal-footer">
                            <form method="post" asp-page="/CustomerRegistrationPages/LoginCustomerPage" asp-page-handler="Logout">
                                <button type="submit" class="btn btn-danger">تایید</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End modal-->

        </main>
    </div>

    <footer>
    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main1.js"></script>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>




    @RenderSection("Scripts", required: false)
</body>


</html>
