@page
@model RahAsod.Pages.TypesOfInsurancePages.CarThirdPartyInsuranceModel

@{
    ViewData["Title"] = "CarThirdPartyInsurance";
    Layout = "_Layout";
}


<div id="main" class="container">
    <div id="formheader" class="card-header text-center">
        <h2>بيمه شخص ثالث</h2>
    </div>
    <div class="row" style="padding:20px;">
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/car1.png" />

                    <h4>سواری </h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/car2.png" />

                    <h4>ون</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/car3.png" />

                    <h4> بارکش</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/car4.png" />

                    <h4>مینی بوس</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/car5.png" />

                    <h4>اتوبوس</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/car6.png" />

                    <h4>کامیون</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body" align="center">

                    <img src="~/img/CarImage/motor.png" />

                    <h4>موتور</h4>
                </div>
            </div>
        </div>
    </div>
    

</div>



