@page
@model RahAsod.Pages.TypesOfInsurancePages.CarThirdPartyInsuranceModel

@{
    ViewData["Title"] = "CarThirdPartyInsurance";
    Layout = "_Layout";
}


<div id="main" class="container">
    <div id="formheader" class="card-header text-center">
        <h2>بيمه شخص ثالث</h2>
    </div>
    <div class="row" style="padding:20px;">
        <div class="col-md-6">
            <div class="card mb-4 py-3 border-bottom-primary btn btn-outline-primary btn-block">
                <div class="card-body"  align="center">

                    <img src="~/img/bg-masthead.png" style="height:200px;width:200px"/>
                   
                    <h6>سواری </h6>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block" onclick="showCar()" >ماشین</button>
        </div>
        <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block" onclick="showCar()">ماشین</button>
        </div>     
        <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block" onclick="showMotorcycle()">موتور</button>
        </div>
        <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block" onclick="showCar()">ماشین</button>
        </div>
        <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block" onclick="showCar()">ماشین</button>
        </div>
        <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block" onclick="showCar()">ماشین</button>
        </div>
    </div>
    

</div>



