@page
@model RahAsod.Pages.TypesOfInsurancePages.CarThirdPartyInsuranceModel

@{
    ViewData["Title"] = "CarThirdPartyInsurance";
    Layout = "_Layout";
}

<link href="~/css/carImage.css" rel="stylesheet" />

<div id="main" class="container form-direction">
    <div id="formheader" class="card-header text-center pt-5 pb-4">
        <h2>بيمه شخص ثالث</h2>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div  id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body">

                        <img src="~/img/CarImage/car1.png" />

                        <h4>سواری</h4>

                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            <div id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body" align="center">

                        <img src="~/img/CarImage/car2.png" />

                        <h4>ون</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div  id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body" align="center">

                        <img src="~/img/CarImage/car3.png" />

                        <h4> بارکش</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div  id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body" align="center">

                        <img src="~/img/CarImage/car4.png" />

                        <h4>مینی بوس</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="py-3" id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body" align="center">

                        <img src="~/img/CarImage/car5.png" />

                        <h4>اتوبوس</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div  id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body" align="center">

                        <img src="~/img/CarImage/car6.png" />

                        <h4>کامیون</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div  id="carimage">
                <a asp-area="" asp-page="/TypesOfInsurancePages/GetInformationForPricing/CarThirdPartyRating">
                    <div class="card-body" align="center">

                        <img src="~/img/CarImage/motor.png" />

                        <h4>موتور</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>



