@page
@model RahAsod.Pages.TypesOfInsurancePages.GetInformationForRating2.CarThirdPartyRating2Model
@{
}
<style>

    #main {
        padding: 2% 5%;
        background-color: white;
        direction: rtl;
        text-align: right
    }

    body {
        background-color: #67B0D1CC;
    }

    #formheader {
        background-color: #0c2d48;
        color: #fff;
        margin-top: 5%;
    }
</style>
<script>
    function showCar() {
        var x = document.getElementById("car");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


<div id="main" class="container">
    <div id="formheader" class="card-header text-center">
        <h2>بيمه شخص ثالث</h2>
    </div>

    <div id="car" class="form-group" style="padding-top:3%">
        <div class="col-md-12">

            <br />
            <br />
            <form method="post">
                <div class="row">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group col-md-10">

                        <div class="row">
                            <div class="col-md-3">
                                <input asp-for="DescriptionOfThirdPartyInsurance.CarTag" placeholder="ایران  " class="form-control " />
                            </div>
                            <div class="col-md-4">

                                <input asp-for="DescriptionOfThirdPartyInsurance.CarTag" placeholder="سه رقم پلاک  " class="form-control " />
                            </div>
                            <div class="col-md-1">
                                <input asp-for="DescriptionOfThirdPartyInsurance.CarTag" placeholder="حرف پلاک  " class="form-control " />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="DescriptionOfThirdPartyInsurance.CarTag" placeholder="دو رقم پلاک   " class="form-control " />
                            </div>
                            <div class="col-md-2">
                                <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarTag" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        @*  <label asp-for="DescriptionOfThirdPartyInsurance.CarColor" class="control-label"></label>*@
                        <select asp-for="DescriptionOfThirdPartyInsurance.CarColor" class="form-control">
                            <option disabled selected hidden>رنگ</option>
                            <option>سفيد</option>
                            <option>مشکي</option>
                            <option>آبي</option>
                            <option>قرمز</option>
                            <option>نوک مدادي</option>
                            <option>بژ</option>
                            <option>سبز</option>
                            <option>قهوه اي</option>
                        </select>
                        <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarColor" class="text-danger"></span>
                    </div>
                </div>
                <hr />


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @* <label asp-for="DescriptionOfThirdPartyInsurance.CarChassisNumber" class="control-label"></label>*@
                            <input asp-for="DescriptionOfThirdPartyInsurance.CarChassisNumber" placeholder="شماره شاسي" class="form-control" />
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarChassisNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* <label asp-for="DescriptionOfThirdPartyInsurance.VinCar" class="control-label"></label>*@
                            <input asp-for="DescriptionOfThirdPartyInsurance.CarVin" placeholder="شماره VIN" class="form-control" />
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarVin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* <label asp-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" class="control-label"></label>*@
                            <input asp-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" placeholder="شماره موتور" class="form-control" />
                            <span asp-validation-for="DescriptionOfThirdPartyInsurance.CarEngineNumber" class="text-danger"></span>
                        </div>
                    </div>

                </div>




                <br />


                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-4">
                    <input type="submit" value="ادامه" class="btn btn-block btn-success" asp-page="/TypesOfInsurancePages/Issued/CarThirdPartyIssued" asp-area="" /></div>
                </div>


            </form>
        </div>
    </div>

</div>