@page
@model RahAsod.Areas.Admin.Pages.InsurancesDescription.BodyDescriptionModel
@{
    Layout = "~/Areas/Admin/Pages/Shared/_AdminPanelLayout.cshtml";
}


<script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
<div id="page-wrapper">
    <br />
    <div class="page-header">
        <h3>بيمه بدنه</h3>
    </div>

    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="model.InsuranceType" class="form-control" value="بدنه" />
            <div>
                <textarea asp-for="model.Text" id="Text" name="model.Text" class="form-control"></textarea>
            </div>
            <div class="col-md-3">
                <button type="submit" class="form-control btn btn-success">ذخيره</button>
            </div>
        </div>
    </form>
</div>
<script>

    CKEDITOR.replace('Text', {
        customConfig: '/js/ckeditor/Config.js'
    });

</script>