@page
@model RahAsod.Areas.Admin.Pages.InsurancesDescription.ThirdpartyDescriptionModel


    <div id="page-wrapper">
        <form>
            <div class="form-group">
                <script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
               
                <div>
                    <textarea id="thirdpartyEditor" name="thirdpartyEditor" class="form-control"></textarea>
                </div>
                <script>
                    CKEDITOR.replace('thirdpartyEditor', {
                        language: 'fa'
                    });
                </script>
            </div>
        </form>
    </div>