@page
@model RahAsod.Pages.CustomerRegistrationPages.ForgetPasswordModel
@{
}
@{
    Layout = "_Layout";
}

<link href="~/css/LoginForms/LoginStyles.css" rel="stylesheet" />


<div class="container login-container">
    <div class="row">
        <div class="col-md-6 ads">
            <picture>
                <img src="~/img/bg-masthead3.png" class="img-responsive" />
            </picture>

        </div>
        <div class="col-md-6 login-form">

            <h3>بازیابی رمز عبور</h3>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <div class="form-group">
                    <label>لطفا شماره همراه خود را وارد کنید</label>
                    <input type="text" class="form-control form-control-user">
                    @*<span asp-validation-for="" class="text-danger"></span>*@
                </div>
                
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"> ارسال </button>
                </div>
                <hr />
                <div class="form-group forget-password">
                    <a asp-page="/CustomerRegistrationPages/LoginCustomerPage">برگشت به صفحه ورود</a>
                </div>
            </form>

        </div>
    </div>
</div>




