@page
@model RahAsod.Pages.CustomerRegistrationPages.LoginCustomerPageModel
@{
    Layout = "_Layout";
}


<link href="~/css/LoginForms/LoginStyles.css" rel="stylesheet" />


<div class="container login-container">
    <div class="row">
        <div class="col-md-6 ads">
            <picture>
                <img src="~/img/bg-masthead3.png" class="img-responsive" />
            </picture>

        </div>
        <div class="col-md-6 login-form">

            <h3>ورود</h3>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input type="text" asp-for="Loginmodel.NationalCode" class="form-control form-control-user text-center" placeholder="کد ملی">
                    <span asp-validation-for="Loginmodel.NationalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Loginmodel.Password" class="form-control form-control-user text-center" placeholder="رمز عبور">
                    <span asp-validation-for="Loginmodel.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"> ورود </button>
                </div>
                <br />
                <hr />
                <div class="form-group forget-password">
                    <a class="small" href="/CustomerRegistrationPages/ForgetPassword">رمز عبور را فراموش کردم</a>
                </div>
                <div class="form-group forget-password">
                    <a class="small" href="Register">ثبت نام</a>
                </div>
            </form>

        </div>
    </div>
</div>
