@page "/Register"
@model RahAsod.Pages.CustomerRegistrationPages.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}
<script>
    $(function () {
        $("#inlineRadio1, #inlineRadio2").change(function () {
            if ($("#inlineRadio2").is(":checked")) {
                $("#nationalcodeInput").attr("placeholder", "شناسه ملی");
                $("#birthdayInput").attr("type", "hidden");
                $("#economiccodeInput").attr("type", "text");
                $("#economiccodeInput").prop("disabled", false);
            }
            else {
                $("#economiccodeInput").prop("disabled", true);
                $("#economiccodeInput").attr("type", "hidden");
                $("#nationalcodeInput").attr("placeholder", "کد ملی");
                $("#birthdayInput").attr("type", "text");
            }
        });
    });

</script>
<link href="~/css/LoginForms/LoginStyles.css" rel="stylesheet" />

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 ads">
            <picture>
                <img src="~/img/bg-masthead3.png" class="img-responsive" style="padding:30% 0 0 0" />
            </picture>

        </div>
        <div class="col-md-6 login-form">

            <h3>ثبت نام</h3>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input  class="form-check-input" type="radio" name="model.CustomerType" id="inlineRadio2" value="حقوقی" asp-for="model.CustomerType">
                        <label class="form-check-label" for="inlineRadio2">حقوقی</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input checked class="form-check-input" type="radio" name="model.CustomerType" id="inlineRadio1" value="حقیقی" asp-for="model.CustomerType">
                        <label class="form-check-label" for="inlineRadio1">حقیقی</label>
                    </div>

                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user text-center" placeholder="نام" asp-for="model.FirstName" />
                    <span asp-validation-for="model.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user text-center" placeholder="نام خانوادگی" asp-for="model.LastName" />
                    <span asp-validation-for="model.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="nationalcodeInput" type="text" class="form-control form-control-user text-center" placeholder="کد ملی" asp-for="model.CustomerNationalCode" />
                    <span asp-validation-for="model.CustomerNationalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="economiccodeInput" disabled type="hidden" class="form-control form-control-user text-center" placeholder="کد اقتصادی" asp-for="model.CustomerEconomicCode" />
                    <span asp-validation-for="model.CustomerEconomicCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="birthdayInput" type="text" class="form-control form-control-user text-center" placeholder="تاریخ تولد" asp-for="model.CustomerBirthday" />
                    <span asp-validation-for="model.CustomerBirthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user text-center" placeholder="شماره همراه" asp-for="model.PhoneNumber" />
                    <span asp-validation-for="model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user text-center" placeholder="شماره منزل" asp-for="model.HomeNumber" />
                    <span asp-validation-for="model.HomeNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-user text-center" placeholder="ایمیل" asp-for="model.Email" />
                    <span asp-validation-for="model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user text-center" placeholder="آدرس منزل" asp-for="model.Address" />
                    <span asp-validation-for="model.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user text-center" placeholder="رمز عبور" asp-for="model.Password" />
                    <span asp-validation-for="model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user text-center" placeholder="تکرار رمز عبور" asp-for="model.ConfirmPassword" />
                    <span asp-validation-for="model.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> ثبت نام</button>
                </div>
                <br />
                <hr />
                <div class="form-group forget-password">
                    <a class="small" href="/Login">!حساب دارید؟ وارد شوید</a>
                </div>
                <div class="form-group forget-password">
                    <a href="/MainPage">برگشت به صفحه اصلی</a>
                </div>
            </form>

        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}








